button {
    background: #202020;
    padding: 4px 12px;
    color: #ada666;
    border: 1px #ada666 solid;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #ada666;
    color: #202020;
    border: 1px #202020 solid;
    border-radius: 5px;
}

select {
    background: #202020;
    color: #ada666;
    border: 1px #ada666 solid;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

select:hover {
    background: #ada666;
    color: #202020;
    border: 1px #202020 solid;
    border-radius: 5px;
}

.weather-forecast-input {
    display: flex;
    justify-content: center;
    border: 1px #ada666 solid;
    margin-top: 10px;
}

.weather-forecast-input div {
    display: flex;
    align-items: center;
    padding: 16px;
}

.weather-forecast-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.weather-forecast-checkbox + label {
    cursor: pointer;
}

.weather-forecast-checkbox+label::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.1em;
    background-size: 100% 100%;
    background-image: url("../media/elements/checkbox-unchecked.svg");
}

.weather-forecast-checkbox:checked+label::before {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.1em;
    background-size: 100% 100%;
    background-image: url("../media/elements/checkbox-check.svg")
}